<h2>About:</h2>
<section class="text">
    <h3>I'm Tom. </h3>
    <p>
A full stack bootcamp student. Still learning on how to do this. But watch this space.
Things I'm currently good at, html, css, js, express and sequelize.
lorem ipsum dolor sit amet consectetuer adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco...
</p>    
</section>