<h2>Contact:</h2>   

<section class="text">
    <a href="mailto: thaywood988@gmail.com" target="_blank">Email</a>
    <a href="https://github.com/TomIHAU" target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/thomas-h-a78751228" target="_blank">Linkedin</a>
    <a>Resume</a>
</section>