<h2>Contact:</h2>   

<section class="text">
    <a href="#">Email:&nbsp;&nbsp;ABCD@gmail.com</a>
    <a href="#">Github:&nbsp;&nbsp;AmazingGit</a>
    <a href="#">Linkedin:&nbsp;&nbsp;Yeahere.</a>
</section>