<div id="particles-js">
      <article class="intro">
        <h4>Tom H</h4>
        <p>Aspiring Web Developer.</p>
        <p>Creating engaging digital experiences in Melbourne</p>
      </article>
      <article class="myLinks">
        <a href='/work'>My Work</a>
        <a href='/about'>About</a>
        <a href='/contact'>Contact</a>
      </article>
    </div>

    <!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <!-- stats.js lib -->
    <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
    <script src="/js/particles.js"></script>